.range-div {
  padding-top: 10px;
  width: 100%;
  position: relative;
}
.range-div .jump-to-top-btn {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  background-color: blueviolet;
  padding: 10px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 100;
}
.range-div .jump-to-top-btn:hover {
  transform: scale(1.2);
  font-size: 1.8rem;
}
.range-div .selection-div {
  padding-left: 5px;
  margin-bottom: 20px;
}
.range-div .selection-div h1 {
  margin-bottom: 25px;
}
.range-div .selection-div .start-container {
  margin-bottom: 25px;
}
.range-div .selection-div .end-container {
  margin-bottom: 25px;
}
.range-div .selection-div .update-btn {
  background-color: #9a54b3;
  padding: 7px;
  border-radius: 25px;
  letter-spacing: 3px;
  border-color: transparent;
  color: white;
  transition: all 0.3s linear;
}
.range-div .selection-div .update-btn:hover {
  background-color: blueviolet;
}
.range-div .selection-div .update-btn:active {
  background-color: white;
  color: blueviolet;
}
.range-div .ui-text {
  max-width: 800px;
  margin: 10px auto;
  min-height: 1rem;
  padding-left: 5px;
}
.range-div .ui-text .warning-text {
  background-color: rgb(198, 12, 49);
  padding: 5px;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.range-div .main-range-content-div {
  display: flex;
  max-width: 1800px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
.range-div .main-range-content-div .images-cont {
  display: grid;
  place-items: center;
  padding: 20px 0 40px 0;
}
.range-div .main-range-content-div .images-cont .multi-img-container {
  width: 320px;
  margin-bottom: 25px;
}
.range-div .main-range-content-div .images-cont .multi-img-container .apod-date {
  margin-bottom: 10px;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 10px;
  position: relative;
  overflow-y: hidden;
  cursor: pointer;
  background-color: #252526;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-info {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  bottom: -100%;
  left: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  transition: all 0.3s linear;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-info.visible {
  bottom: 0;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-info h2 {
  margin-bottom: 15px;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-info .apod-explanation {
  margin-bottom: 10px;
  line-height: 1.5;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-info .apod-copyright {
  margin-bottom: 10px;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-info .apod-copyright span {
  font-weight: 700;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-info .apod-url {
  color: #c498ff;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-info .info-close-btn {
  background-color: #9a54b3;
  padding: 7px;
  border-radius: 25px;
  letter-spacing: 3px;
  border-color: transparent;
  color: white;
  transition: all 0.3s linear;
  display: none;
  margin: 10px auto 0 auto;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-info .info-close-btn:hover {
  background-color: blueviolet;
}
.range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-info .info-close-btn:active {
  background-color: white;
  color: blueviolet;
}
.range-div .main-range-content-div .images-cont .multi-img-container .apod-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.range-div .main-range-content-div .images-cont .multi-img-container .apod-bottom-container .apod-title {
  text-align: left;
}
.range-div .main-range-content-div .images-cont .multi-img-container .apod-bottom-container .info-btn {
  background-color: #9a54b3;
  padding: 7px;
  border-radius: 25px;
  letter-spacing: 3px;
  border-color: transparent;
  color: white;
  transition: all 0.3s linear;
  padding: 5px;
  margin-left: 5px;
}
.range-div .main-range-content-div .images-cont .multi-img-container .apod-bottom-container .info-btn:hover {
  background-color: blueviolet;
}
.range-div .main-range-content-div .images-cont .multi-img-container .apod-bottom-container .info-btn:active {
  background-color: white;
  color: blueviolet;
}
.range-div .main-range-content-div .images-cont .multi-apod-video {
  width: 320px;
  margin-bottom: 25px;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .apod-date {
  margin-bottom: 10px;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .video-container {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 10px;
  position: relative;
  overflow-y: hidden;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .video-container .apod-video {
  width: 100%;
  height: 100%;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .video-container .apod-info {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -100%;
  left: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  transition: all 0.3s linear;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .video-container .apod-info.visible {
  bottom: 0;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .video-container .apod-info h2 {
  margin-bottom: 15px;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .video-container .apod-info .apod-explanation {
  margin-bottom: 10px;
  line-height: 1.5;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .video-container .apod-info .apod-copyright {
  margin-bottom: 10px;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .video-container .apod-info .apod-copyright span {
  font-weight: 700;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .video-container .apod-info .apod-url {
  color: blueviolet;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .apod-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .apod-bottom-container .apod-title {
  text-transform: uppercase;
  text-align: center;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .apod-bottom-container .info-btn {
  background-color: #9a54b3;
  padding: 7px;
  border-radius: 25px;
  letter-spacing: 3px;
  border-color: transparent;
  color: white;
  transition: all 0.3s linear;
  padding: 5px;
  margin-left: 5px;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .apod-bottom-container .info-btn:hover {
  background-color: blueviolet;
}
.range-div .main-range-content-div .images-cont .multi-apod-video .apod-bottom-container .info-btn:active {
  background-color: white;
  color: blueviolet;
}
.range-div .main-range-content-div .info-div {
  display: none;
  border-left: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
}
.range-div .main-range-content-div .info-div .info-div-cont {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  max-height: 90vh;
  overflow-y: auto;
}
.range-div .main-range-content-div .info-div .info-div-cont .__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.range-div .main-range-content-div .info-div .info-div-cont p {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.range-div .main-range-content-div .info-div .info-div-cont .__explanation {
  line-height: 1.5;
  color: rgb(218, 218, 218);
}
.range-div .main-range-content-div .info-div .info-div-cont .__copyright span {
  font-weight: 700;
}
.range-div .main-range-content-div .info-div .info-div-cont .__url {
  color: #c498ff;
  font-size: 1.2rem;
  transition: all 0.3s linear;
}
.range-div .main-range-content-div .info-div .info-div-cont .__url:hover {
  color: blueviolet;
}
.range-div .main-range-content-div .info-div .info-div-cont .__url:active {
  color: white;
}/*# sourceMappingURL=apodrange.css.map */