@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Overpass:wght@200&display=swap");
.about-div {
  max-width: 700px;
  padding: 3rem 0.7rem 2.5rem 0.7rem;
  margin: 0 auto;
}
.about-div h1 {
  text-align: center;
  margin-bottom: 1.4rem;
}
.about-div h1 span {
  color: #c498ff;
}
.about-div .about-img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto 2rem auto;
}
.about-div p {
  line-height: 1.3;
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
}
.about-div p .portfolio-link {
  color: #c498ff;
  transition: color 300ms ease-in-out;
}
.about-div p .portfolio-link:hover {
  color: #9a54b3;
}
.about-div p:last-of-type {
  position: relative;
  margin-bottom: 3rem;
}
.about-div p:last-of-type::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 200px;
  background: white;
  bottom: -2.5rem;
  left: 50%;
  margin-left: -100px;
}
.about-div .useful-links-cont {
  padding: 0.6rem 0;
}
.about-div .useful-links-cont h2 {
  margin-bottom: 2rem;
}
.about-div .useful-links-cont .useful-links {
  font-size: 1rem;
}
.about-div .useful-links-cont .useful-links li {
  margin-bottom: 0.8rem;
}
.about-div .useful-links-cont .useful-links li .useful-link {
  color: #c498ff;
  transition: all 0.3s linear;
}
.about-div .useful-links-cont .useful-links li .useful-link:hover {
  color: blueviolet;
}
.about-div .useful-links-cont .useful-links li .useful-link:active {
  color: white;
}

.range-div {
  padding-top: 3rem;
  width: 100%;
  position: relative;
}
.range-div .selection-div {
  margin-inline: auto;
  margin-bottom: 1.5rem;
  max-width: 1200px;
  border-bottom: 1px solid white;
  padding-bottom: 3rem;
  display: grid;
  grid-template-areas: "header" "calend" "button";
  justify-items: center;
}
.range-div .selection-div .selection-header {
  margin-bottom: 2rem;
  line-height: 1.5;
  text-align: center;
  grid-area: header;
}
.range-div .selection-div .selection-header h1 {
  color: #c498ff;
}
.range-div .selection-div .date-div {
  margin-bottom: 2rem;
  grid-area: calend;
}
.range-div .selection-div .date-div .earliest-date {
  margin-bottom: 1rem;
}
.range-div .selection-div .date-div .current-range {
  height: 2.5rem;
}
.range-div .selection-div .update-btn {
  background-color: transparent;
  padding: 0.5rem clamp(2rem, 5vw, 4rem);
  border-radius: 25px;
  border: 2px solid #9a54b3;
  letter-spacing: 1px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s linear;
  box-shadow: 0 0 8px #9a54b3;
  padding: 0.8rem 2rem;
  grid-area: button;
}
.range-div .selection-div .update-btn:hover {
  background-color: #9a54b3;
  box-shadow: 0 0 20px #9a54b3;
}
.range-div .selection-div .update-btn:active {
  background-color: white;
  color: #9a54b3;
}
.range-div .ui-text {
  max-width: 800px;
  margin: 10px auto;
  min-height: 1rem;
  padding-left: 5px;
}
.range-div .ui-text .warning-text {
  background-color: rgb(198, 12, 49);
  padding: 5px;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.delete-modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(0, 2, 18, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-modal .inner-delete-modal {
  max-width: 40rem;
  text-align: center;
}
.delete-modal .inner-delete-modal h1 {
  color: #c498ff;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.delete-modal .inner-delete-modal p {
  margin-bottom: 3rem;
  line-height: 1.2;
  font-size: 1.1rem;
}
.delete-modal .inner-delete-modal .delete-err {
  color: rgb(255, 75, 75);
  margin-bottom: 0.8rem;
}
.delete-modal .inner-delete-modal .verify-delete-form {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.delete-modal .inner-delete-modal .verify-delete-form label {
  padding-right: 1rem;
}
.delete-modal .inner-delete-modal .verify-delete-form input[type=text] {
  margin-right: 1rem;
  padding: 0.2rem;
}
.delete-modal .inner-delete-modal .verify-delete-form .submit-btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 0.8rem clamp(2rem, 6vw, 3rem);
  font-size: 1.1rem;
  color: rgb(255, 75, 75);
  letter-spacing: 1px;
  transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
  padding: 0.5rem;
  font-size: 1rem;
}
.delete-modal .inner-delete-modal .verify-delete-form .submit-btn:hover {
  border-color: rgb(255, 75, 75);
}
.delete-modal .inner-delete-modal .verify-delete-form .submit-btn:active {
  background-color: rgb(255, 75, 75);
  color: rgb(218, 218, 218);
}
.delete-modal .inner-delete-modal .btn-wrap {
  display: flex;
  justify-content: center;
  gap: clamp(3rem, 6vw, 6rem);
}
.delete-modal .inner-delete-modal .btn-wrap .delete-btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 0.8rem clamp(2rem, 6vw, 3rem);
  font-size: 1.1rem;
  color: rgb(255, 75, 75);
  letter-spacing: 1px;
  transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.delete-modal .inner-delete-modal .btn-wrap .delete-btn:hover {
  border-color: rgb(255, 75, 75);
}
.delete-modal .inner-delete-modal .btn-wrap .delete-btn:active {
  background-color: rgb(255, 75, 75);
  color: rgb(218, 218, 218);
}
.delete-modal .inner-delete-modal .btn-wrap .cancel-btn {
  background-color: #9a54b3;
  padding: 0.5rem clamp(2rem, 5vw, 4rem);
  border-radius: 25px;
  border: 2px solid #9a54b3;
  letter-spacing: 1px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s linear;
  box-shadow: 0 0 8px #9a54b3;
}
.delete-modal .inner-delete-modal .btn-wrap .cancel-btn:hover {
  background-color: #c498ff;
  box-shadow: 0 0 20px #c498ff;
  border-color: #c498ff;
}
.delete-modal .inner-delete-modal .btn-wrap .cancel-btn:active {
  background-color: white;
  color: #9a54b3;
}

.favorite-btn {
  background-color: transparent;
  border-color: transparent;
  width: 1.8rem;
}
.favorite-btn.favorited .heart {
  fill: red;
}
.favorite-btn.heartbeat .heart {
  -webkit-animation: heartbeat 600ms 1;
          animation: heartbeat 600ms 1;
}
.favorite-btn .heart {
  stroke: red;
  stroke-width: 1.5px;
  fill: transparent;
  width: 100%;
  overflow: visible;
}
.favorite-btn .heart:hover {
  cursor: pointer;
}

@-webkit-keyframes heartbeat {
  0% {
    scale: 1;
  }
  33% {
    scale: 0.5;
  }
  66% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

@keyframes heartbeat {
  0% {
    scale: 1;
  }
  33% {
    scale: 0.5;
  }
  66% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}
footer {
  background-color: transparent;
  border-top: 1px solid rgb(190, 190, 190);
}
footer .footer-wrap {
  max-width: 1800px;
  padding: 10px;
  margin: 0 auto;
}
footer .footer-wrap .footer-social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
footer .footer-wrap .footer-social-links li {
  padding: 5px;
}
footer .footer-wrap .footer-social-links li .footer-link {
  border-radius: 25px;
  border: 2px solid #9a54b3;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}
footer .footer-wrap .footer-social-links li .footer-link .brand-icon {
  font-size: 1rem;
}
footer .footer-wrap .footer-social-links li .footer-link:hover {
  color: #9a54b3;
}
footer .footer-wrap .footer-social-links li .footer-link:active {
  border-color: blueviolet;
  color: blueviolet;
}
footer .footer-wrap p {
  margin-top: 10px;
  text-align: center;
  color: #a0a0a0;
  position: relative;
  font-size: 0.8rem;
}

.main-range-content-div {
  display: flex;
  max-width: 1800px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
.main-range-content-div .images-cont {
  display: grid;
  place-items: center;
  padding: 1.25rem 0 2.5rem 0;
  gap: 3.5rem;
}
.main-range-content-div .images-cont .multi-img-container {
  width: 320px;
  margin-bottom: 1.5625rem;
}
.main-range-content-div .images-cont .multi-img-container .multi-title-section {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}
.main-range-content-div .images-cont .multi-img-container .multi-title-section button {
  margin-left: auto;
}
.main-range-content-div .images-cont .multi-img-container .img-container {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 10px;
  position: relative;
  overflow-y: hidden;
  cursor: pointer;
  background-color: transparent;
}
.main-range-content-div .images-cont .multi-img-container .img-container .apod-img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.main-range-content-div .images-cont .multi-img-container .img-container .apod-info {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  bottom: -100%;
  left: 0;
  padding: 0.8rem 0.8rem 2rem 0.8rem;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  transition: all 0.3s linear;
}
.main-range-content-div .images-cont .multi-img-container .img-container .apod-info.visible {
  bottom: 0;
}
.main-range-content-div .images-cont .multi-img-container .img-container .apod-info h2 {
  margin-bottom: 15px;
}
.main-range-content-div .images-cont .multi-img-container .img-container .apod-info .apod-explanation {
  margin-bottom: 10px;
  line-height: 1.5;
}
.main-range-content-div .images-cont .multi-img-container .img-container .apod-info .apod-copyright {
  margin-bottom: 10px;
}
.main-range-content-div .images-cont .multi-img-container .img-container .apod-info .apod-copyright span {
  font-weight: 700;
}
.main-range-content-div .images-cont .multi-img-container .img-container .apod-info .apod-url {
  color: #c498ff;
}
.main-range-content-div .images-cont .multi-img-container .img-container .apod-info .info-close-btn {
  background-color: transparent;
  padding: 0.5rem clamp(2rem, 5vw, 4rem);
  border-radius: 25px;
  border: 2px solid #9a54b3;
  letter-spacing: 1px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s linear;
  box-shadow: 0 0 8px #9a54b3;
  display: none;
  margin: 10px auto 0 auto;
}
.main-range-content-div .images-cont .multi-img-container .img-container .apod-info .info-close-btn:hover {
  background-color: #9a54b3;
  box-shadow: 0 0 20px #9a54b3;
}
.main-range-content-div .images-cont .multi-img-container .img-container .apod-info .info-close-btn:active {
  background-color: white;
  color: #9a54b3;
}
.main-range-content-div .images-cont .multi-img-container .apod-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-range-content-div .images-cont .multi-img-container .apod-bottom-container .apod-title {
  text-align: left;
}
.main-range-content-div .images-cont .multi-img-container .apod-bottom-container .info-btn {
  background-color: transparent;
  padding: 0.5rem clamp(2rem, 5vw, 4rem);
  border-radius: 25px;
  border: 2px solid #9a54b3;
  letter-spacing: 1px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s linear;
  box-shadow: 0 0 8px #9a54b3;
  padding: 5px;
  margin-left: 5px;
}
.main-range-content-div .images-cont .multi-img-container .apod-bottom-container .info-btn:hover {
  background-color: #9a54b3;
  box-shadow: 0 0 20px #9a54b3;
}
.main-range-content-div .images-cont .multi-img-container .apod-bottom-container .info-btn:active {
  background-color: white;
  color: #9a54b3;
}
.main-range-content-div .images-cont .multi-apod-video {
  width: 320px;
  margin-bottom: 25px;
}
.main-range-content-div .images-cont .multi-apod-video .multi-title-section {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}
.main-range-content-div .images-cont .multi-apod-video .multi-title-section button {
  margin-left: auto;
}
.main-range-content-div .images-cont .multi-apod-video .video-container {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 10px;
  position: relative;
  overflow-y: hidden;
}
.main-range-content-div .images-cont .multi-apod-video .video-container .apod-video {
  width: 100%;
  height: 100%;
}
.main-range-content-div .images-cont .multi-apod-video .video-container .apod-info {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -100%;
  left: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  transition: all 0.3s linear;
}
.main-range-content-div .images-cont .multi-apod-video .video-container .apod-info.visible {
  bottom: 0;
}
.main-range-content-div .images-cont .multi-apod-video .video-container .apod-info h2 {
  margin-bottom: 15px;
}
.main-range-content-div .images-cont .multi-apod-video .video-container .apod-info .apod-explanation {
  margin-bottom: 10px;
  line-height: 1.5;
}
.main-range-content-div .images-cont .multi-apod-video .video-container .apod-info .apod-copyright {
  margin-bottom: 10px;
}
.main-range-content-div .images-cont .multi-apod-video .video-container .apod-info .apod-copyright span {
  font-weight: 700;
}
.main-range-content-div .images-cont .multi-apod-video .video-container .apod-info .apod-url {
  color: blueviolet;
}
.main-range-content-div .images-cont .multi-apod-video .apod-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-range-content-div .images-cont .multi-apod-video .apod-bottom-container .apod-title {
  text-transform: uppercase;
  text-align: center;
}
.main-range-content-div .images-cont .multi-apod-video .apod-bottom-container .info-btn {
  background-color: transparent;
  padding: 0.5rem clamp(2rem, 5vw, 4rem);
  border-radius: 25px;
  border: 2px solid #9a54b3;
  letter-spacing: 1px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s linear;
  box-shadow: 0 0 8px #9a54b3;
  padding: 5px;
  margin-left: 5px;
}
.main-range-content-div .images-cont .multi-apod-video .apod-bottom-container .info-btn:hover {
  background-color: #9a54b3;
  box-shadow: 0 0 20px #9a54b3;
}
.main-range-content-div .images-cont .multi-apod-video .apod-bottom-container .info-btn:active {
  background-color: white;
  color: #9a54b3;
}
.main-range-content-div .info-div {
  display: none;
  border-left: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
}
.main-range-content-div .info-div .info-div-cont {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  max-height: 90vh;
  overflow-y: auto;
  padding-bottom: 5rem;
}
.main-range-content-div .info-div .info-div-cont .__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.main-range-content-div .info-div .info-div-cont p {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.main-range-content-div .info-div .info-div-cont .__explanation {
  line-height: 1.5;
  color: rgb(218, 218, 218);
}
.main-range-content-div .info-div .info-div-cont .__copyright span {
  font-weight: 700;
}
.main-range-content-div .info-div .info-div-cont .__url {
  color: #c498ff;
  font-size: 1.2rem;
  transition: all 0.3s linear;
}
.main-range-content-div .info-div .info-div-cont .__url:hover {
  color: blueviolet;
}
.main-range-content-div .info-div .info-div-cont .__url:active {
  color: white;
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  background-color: transparent;
  border-bottom: 1px solid rgb(190, 190, 190);
}
.main-header .header-wrap {
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  flex-shrink: 0;
  top: 0;
  left: 0;
  margin: 0 auto;
}
.main-header .header-wrap .mobile-nav-toggle {
  display: block;
  background-color: transparent;
  border: none;
  color: white;
  width: 2rem;
  aspect-ratio: 1;
  right: 1rem;
  top: 1.4rem;
  position: absolute;
  z-index: 9999;
}
.main-header .header-wrap .mobile-nav-toggle .top-bar,
.main-header .header-wrap .mobile-nav-toggle .middle-bar,
.main-header .header-wrap .mobile-nav-toggle .bottom-bar {
  width: 1.875rem;
  height: 3px;
  margin-bottom: 0.45rem;
  background-color: white;
}
.main-header .header-wrap .mobile-nav-toggle .middle-bar {
  transition: all 200ms linear;
}
.main-header .header-wrap .mobile-nav-toggle.open .top-bar {
  -webkit-animation-name: topbaropen;
          animation-name: topbaropen;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0.3s linear;
}
.main-header .header-wrap .mobile-nav-toggle.open .bottom-bar {
  -webkit-animation-name: bottombaropen;
          animation-name: bottombaropen;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0.3s linear;
}
.main-header .header-wrap .mobile-nav-toggle.open .middle-bar {
  opacity: 0;
}
.main-header .header-wrap .mobile-nav-toggle.close .top-bar {
  -webkit-animation-name: topbarclose;
          animation-name: topbarclose;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.main-header .header-wrap .mobile-nav-toggle.close .middle-bar {
  opacity: 1;
}
.main-header .header-wrap .mobile-nav-toggle.close .bottom-bar {
  -webkit-animation-name: bottombarclose;
          animation-name: bottombarclose;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes topbaropen {
  from {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(10px) rotate(0deg);
  }
  100% {
    transform: translateY(13px) rotate(45deg);
  }
}
@keyframes topbaropen {
  from {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(10px) rotate(0deg);
  }
  100% {
    transform: translateY(13px) rotate(45deg);
  }
}
@-webkit-keyframes bottombaropen {
  from {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(0deg);
  }
  100% {
    transform: rotate(-45deg) translate(5px, -6.5px);
  }
}
@keyframes bottombaropen {
  from {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(0deg);
  }
  100% {
    transform: rotate(-45deg) translate(5px, -6.5px);
  }
}
@-webkit-keyframes topbarclose {
  from {
    transform: translateY(13px) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes topbarclose {
  from {
    transform: translateY(13px) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@-webkit-keyframes bottombarclose {
  from {
    transform: rotate(-45deg) translate(5px, -6.5px);
  }
  50% {
    transform: translateY(-10px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes bottombarclose {
  from {
    transform: rotate(-45deg) translate(5px, -6.5px);
  }
  50% {
    transform: translateY(-10px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
.main-header .header-wrap .logo-container {
  margin-right: clamp(2rem, 4vw, 4rem);
}
.main-header .header-wrap .logo-container .logo {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.6rem;
  padding: 8px;
}
.main-header .header-wrap .logo-container .logo span {
  color: #c498ff;
}
.main-header .header-wrap .primary-navigation {
  display: flex;
  transition: all 500ms ease-in-out;
  overflow-y: hidden;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transform: translateX(100%);
}
.main-header .header-wrap .primary-navigation[data-visible=true] {
  transform: translateX(0%);
}
.main-header .header-wrap .primary-navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
}
.main-header .header-wrap .primary-navigation ul li {
  margin-bottom: 1.5rem;
}
.main-header .header-wrap .primary-navigation ul li a {
  transition: all 0.3s linear;
}
.main-header .header-wrap .primary-navigation ul li a:hover {
  color: #9a54b3;
}
.main-header .header-wrap .primary-navigation ul li a.active-link {
  color: #c498ff;
  position: relative;
}
.main-header .header-wrap .primary-navigation ul li a.active-link:after {
  position: absolute;
  content: "";
  display: block;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #c498ff;
}
.main-header .header-wrap .primary-navigation .main-links {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding-bottom: 1rem;
}
.main-header .header-wrap .primary-navigation .account-links {
  padding-top: 2.5rem;
}
.main-header .header-wrap .primary-navigation .account-links li:nth-child(2) a {
  border: 1px solid #c498ff;
  border-radius: 25px;
  padding: 1rem;
}
.main-header .header-wrap .primary-navigation .account-links li:nth-child(2) a.register-active span {
  color: #c498ff;
}
.main-header .header-wrap .primary-navigation .account-links .sign-out {
  background: transparent;
  border: 1px solid #9a54b3;
  border-radius: 25%;
  padding: 0.5rem 1rem;
}
.main-header .header-wrap .primary-navigation .account-links .sign-out .sign-out-icon {
  font-size: 1.8rem;
  color: rgb(218, 218, 218);
  transition: color 300ms ease-in-out;
}
.main-header .header-wrap .primary-navigation .account-links .sign-out .sign-out-icon:hover {
  color: #9a54b3;
}

.homepage-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  min-height: 80vh;
}
.homepage-wrap .home-title {
  margin-bottom: 25px;
  text-align: center;
}
.homepage-wrap .main-apod-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1.875rem 1rem;
  width: 100%;
  max-width: 75ch;
  margin: 0 auto;
  text-align: center;
}
.homepage-wrap .main-apod-cont p {
  margin-bottom: 1rem;
  line-height: 1.5;
  color: rgb(199, 199, 199);
}
.homepage-wrap .main-apod-cont p:nth-child(2) {
  margin-bottom: 3rem;
}
.homepage-wrap .main-apod-cont .homepage-link {
  background-color: #9a54b3;
  padding: 0.5rem;
  border-radius: 1.5625rem;
  letter-spacing: 1px;
  transition: all 0.3s linear;
  padding: 0.8rem clamp(2rem, 5vw, 5rem);
}
.homepage-wrap .main-apod-cont .homepage-link:hover {
  background-color: #c498ff;
}
.homepage-wrap .main-apod-cont .homepage-link:active {
  background-color: white;
  color: blueviolet;
}

.jump-to-top-btn {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  background-color: blueviolet;
  padding: 10px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 100;
  transition: transform 0.3s ease-in, font-size 0.3s ease-in;
}
.jump-to-top-btn:hover {
  transform: scale(1.2);
  font-size: 1.8rem;
}

.login-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrap .__inner-wrap {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 25px;
  padding: clamp(2rem, 6vw, 3.5rem) clamp(1rem, 6vw, 2rem);
}
.login-wrap .__inner-wrap h1 {
  text-align: center;
  color: #c498ff;
  margin-bottom: 2rem;
}
.login-wrap .__inner-wrap .auth__error {
  color: rgb(214, 70, 70);
}
.login-wrap .__inner-wrap .login-form {
  margin-bottom: 2rem;
}
.login-wrap .__inner-wrap .login-form > label {
  color: #c498ff;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  display: block;
  font-size: 1.1rem;
}
.login-wrap .__inner-wrap .login-form > input {
  display: block;
  margin-bottom: clamp(1rem, 5vw, 2rem);
  width: 100%;
  font-size: inherit;
  padding: 0.5rem;
}
.login-wrap .__inner-wrap .login-form .submit {
  background-color: #9a54b3;
  padding: 0.5rem clamp(2rem, 5vw, 4rem);
  border-radius: 25px;
  border: 2px solid #9a54b3;
  letter-spacing: 1px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s linear;
  box-shadow: 0 0 8px #9a54b3;
  display: block;
  margin: 0 auto;
}
.login-wrap .__inner-wrap .login-form .submit:hover {
  background-color: #c498ff;
  box-shadow: 0 0 20px #c498ff;
  border-color: #c498ff;
}
.login-wrap .__inner-wrap .login-form .submit:active {
  background-color: white;
  color: #9a54b3;
}
.login-wrap .__inner-wrap p a {
  color: #9a54b3;
  transition: color 300ms ease-in-out;
}
.login-wrap .__inner-wrap p a:hover {
  color: blueviolet;
}

.logout-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout-wrap .__inner-wrap {
  text-align: center;
}
.logout-wrap .__inner-wrap h1 {
  color: #c498ff;
  margin-bottom: 0.7rem;
}
.logout-wrap .__inner-wrap h2 {
  margin-bottom: clamp(1.5rem, 6vw, 3rem);
  font-weight: 500;
}
.logout-wrap .__inner-wrap h2 span {
  color: #c498ff;
}
.logout-wrap .__inner-wrap a {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: rgb(218, 218, 218);
  transition: color 300ms ease-in-out;
}
.logout-wrap .__inner-wrap a:hover {
  color: blueviolet;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-overlay.open {
  opacity: 1;
  pointer-events: all;
}
.modal-overlay .modal-img-container {
  position: relative;
  margin: 0 auto;
  width: 85%;
  max-width: 800px;
  aspect-ratio: 1;
  box-shadow: 0 0 5px white;
  border-radius: 25px;
}
.modal-overlay .modal-img-container .modal-img {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}
.modal-overlay .close-modal-btn {
  background-color: transparent;
  color: #c498ff;
  border: none;
  font-size: 2rem;
  position: absolute;
  bottom: clamp(-15rem, -6.5vw, -3.5rem);
  right: 50%;
  transform: translateX(50%);
}

.apod-obj {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
}
.apod-obj .apod-img {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}
.apod-obj .apod-img.changing {
  opacity: 0;
}
.apod-obj .apod-video {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  border: transparent;
}
.apod-obj .apod-video.changing {
  opacity: 0;
}

.absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(2rem, 6vw, 4rem);
  width: 100%;
}
.profile-wrap .__inner-wrap {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: clamp(2rem, 6vw, 4rem) clamp(1rem, 6vw, 2rem);
  min-width: 300px;
  text-align: center;
  margin-bottom: clamp(2rem, 6vw, 4rem);
}
.profile-wrap .__inner-wrap h1 {
  color: #c498ff;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
.profile-wrap .__inner-wrap .username {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.profile-wrap .__inner-wrap .email {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 2rem auto;
}
.profile-wrap .__inner-wrap .email.verified {
  position: relative;
}
.profile-wrap .__inner-wrap .email.verified .verified-icon {
  position: absolute;
  font-size: 0.8rem;
  top: -0.3rem;
  right: -0.95rem;
  color: #c498ff;
}
.profile-wrap .__inner-wrap .sign-out {
  background-color: #9a54b3;
  padding: 0.5rem clamp(2rem, 5vw, 4rem);
  border-radius: 25px;
  border: 2px solid #9a54b3;
  letter-spacing: 1px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s linear;
  box-shadow: 0 0 8px #9a54b3;
  display: block;
  margin: 0 auto 1rem auto;
}
.profile-wrap .__inner-wrap .sign-out:hover {
  background-color: #c498ff;
  box-shadow: 0 0 20px #c498ff;
  border-color: #c498ff;
}
.profile-wrap .__inner-wrap .sign-out:active {
  background-color: white;
  color: #9a54b3;
}
.profile-wrap .__inner-wrap .delete-act {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 0.8rem clamp(2rem, 6vw, 3rem);
  font-size: 1.1rem;
  color: rgb(255, 75, 75);
  letter-spacing: 1px;
  transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.profile-wrap .__inner-wrap .delete-act:hover {
  border-color: rgb(255, 75, 75);
}
.profile-wrap .__inner-wrap .delete-act:active {
  background-color: rgb(255, 75, 75);
  color: rgb(218, 218, 218);
}
.profile-wrap .favorites-wrap {
  width: 100%;
}
.profile-wrap .favorites-wrap .__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding-inline: 1rem;
  margin: 0 auto clamp(3rem, 8vw, 6rem) auto;
}
.profile-wrap .favorites-wrap .__head h2 {
  color: #c498ff;
  letter-spacing: 1px;
}
.profile-wrap .favorites-wrap .__head .sort-form {
  border-radius: 0.3rem;
  box-shadow: 0 0 0.4em #c498ff, inset 0 0 1px #c498ff;
  background-color: transparent;
  position: relative;
}
.profile-wrap .favorites-wrap .__head .sort-form select {
  width: 10rem;
  padding: 0.4rem 1.5rem;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #9a54b3;
  font-size: 1rem;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.profile-wrap .favorites-wrap .__head .sort-form:after {
  position: absolute;
  top: 50%;
  right: 0.4rem;
  /* Styling the new down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-top: 0.375em solid #9a54b3;
  pointer-events: none;
}

.register-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-wrap .__inner-wrap .main-headers {
  text-align: center;
}
.register-wrap .__inner-wrap .main-headers h1 {
  margin-bottom: 1rem;
  color: #c498ff;
}
.register-wrap .__inner-wrap .main-headers p {
  margin-bottom: clamp(1.5rem, 6vw, 3rem);
}
.register-wrap .__inner-wrap .auth-error {
  color: rgb(253, 89, 89);
  text-align: center;
  padding-bottom: 0.5rem;
}
.register-wrap .__inner-wrap .sign-up-form {
  border: 1px solid;
  border-color: rgb(190, 190, 190);
  padding: 2rem 1.5rem;
  border-radius: 25px;
}
.register-wrap .__inner-wrap .sign-up-form > label {
  color: #c498ff;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  display: block;
  font-size: 1.1rem;
}
.register-wrap .__inner-wrap .sign-up-form > input {
  display: block;
  margin-bottom: clamp(1rem, 5vw, 2rem);
  width: 100%;
  font-size: inherit;
  padding: 0.5rem;
}
.register-wrap .__inner-wrap .sign-up-form p {
  font-size: 0.9rem;
  margin-bottom: clamp(1rem, 5vw, 2rem);
}
.register-wrap .__inner-wrap .sign-up-form p a {
  color: #c498ff;
  transition: color 500ms ease-in-out;
}
.register-wrap .__inner-wrap .sign-up-form p a:hover {
  color: #9a54b3;
}
.register-wrap .__inner-wrap .sign-up-form .sign-up-btn {
  font-size: inherit;
  display: block;
  margin: 0 auto;
  background-color: #9a54b3;
  padding: 0.5rem clamp(2rem, 5vw, 4rem);
  border-radius: 25px;
  border: 2px solid #9a54b3;
  letter-spacing: 1px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s linear;
  box-shadow: 0 0 8px #9a54b3;
}
.register-wrap .__inner-wrap .sign-up-form .sign-up-btn:hover {
  background-color: #c498ff;
  box-shadow: 0 0 20px #c498ff;
  border-color: #c498ff;
}
.register-wrap .__inner-wrap .sign-up-form .sign-up-btn:active {
  background-color: white;
  color: #9a54b3;
}

.single-div {
  padding: 3rem 1rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.single-div .upper-wrap {
  display: grid;
  grid-template-areas: "header" "calend" "button";
  padding-bottom: 3rem;
  justify-items: center;
  border-bottom: 1px solid white;
}
.single-div .upper-wrap .single-header {
  grid-area: header;
  margin-bottom: 2.5rem;
  text-align: center;
}
.single-div .upper-wrap .single-header h1 {
  color: #c498ff;
  margin-bottom: 0.5rem;
}
.single-div .upper-wrap .single-form-wrap {
  grid-area: calend;
}
.single-div .upper-wrap .single-form-wrap .start-container {
  margin-bottom: 3rem;
}
.single-div .upper-wrap .update-btn {
  grid-area: button;
  margin-top: 2rem;
  background-color: transparent;
  padding: 0.5rem clamp(2rem, 5vw, 4rem);
  border-radius: 25px;
  border: 2px solid #9a54b3;
  letter-spacing: 1px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s linear;
  box-shadow: 0 0 8px #9a54b3;
}
.single-div .upper-wrap .update-btn:hover {
  background-color: #9a54b3;
  box-shadow: 0 0 20px #9a54b3;
}
.single-div .upper-wrap .update-btn:active {
  background-color: white;
  color: #9a54b3;
}
.single-div .ui-text {
  margin-block: 1.5rem;
  min-height: 1.5rem;
  max-width: 100%;
}
.single-div .ui-text .error-text {
  padding: 5px;
  color: black;
  border: 1px solid red;
  background-color: rgb(202, 121, 121);
}
.single-div .single-container {
  text-align: center;
}
.single-div .single-container h2 {
  color: #c498ff;
  margin-bottom: 1rem;
}
.single-div .single-container .__inner-wrap {
  margin: 0 auto;
  width: 300px;
}
.single-div .single-container .__inner-wrap .inner-single-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 1rem auto;
}
.single-div .single-nav {
  max-width: 300px;
  margin: 2rem auto 2rem auto;
  display: flex;
  justify-content: space-between;
}
.single-div .single-nav .change-day-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.single-div .single-nav .change-day-btn .single-nav-icon-left {
  padding-right: 0.5rem;
  transition: all 500ms ease-out;
}
.single-div .single-nav .change-day-btn .single-nav-icon-right {
  padding-left: 0.5rem;
  transition: all 500ms ease-out;
}
.single-div .single-nav .change-day-btn:hover .single-nav-icon-left {
  transform: translateX(-0.3rem);
  transition: transform 500ms ease-out;
}
.single-div .single-nav .change-day-btn:hover .single-nav-icon-right {
  transform: translateX(0.3rem);
  transition: transform 500ms ease-out;
}
.single-div .info-container {
  padding-bottom: 2.5rem;
}
.single-div .info-container *:not(:first-child) {
  margin-bottom: 1rem;
}
.single-div .info-container .apod-about {
  margin: 25px 0 15px 0;
  font-size: 1.625rem;
}
.single-div .info-container p {
  line-height: 1.5;
  font-size: 1.2rem;
  color: rgb(218, 218, 218);
}
.single-div .info-container .apod-copyright span {
  font-weight: 700;
}
.single-div .info-container .apod-url {
  color: #c498ff;
  transition: all 0.3s linear;
}
.single-div .info-container .apod-url:hover {
  color: blueviolet;
}

.today-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  overflow-y: hidden;
  padding: 3rem 0.8rem;
  max-width: 900px;
  margin: 0 auto;
}
.today-wrap h1 {
  text-align: center;
  margin-bottom: clamp(1rem, 6vw, 3rem);
  color: #c498ff;
}
.today-wrap .subhead-wrap {
  margin-bottom: clamp(0.8rem, 6vw, 2.5rem);
  width: 100%;
}
.today-wrap .subhead-wrap.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.today-wrap .subhead-wrap .current-date {
  text-align: center;
}
.today-wrap .apod-obj {
  margin-bottom: 2rem;
}
.today-wrap .apod-obj .apod-video {
  border: transparent;
}
.today-wrap .info-container {
  padding-bottom: 2.5rem;
}
.today-wrap .info-container *:not(:first-child) {
  margin-bottom: 1rem;
}
.today-wrap .info-container .apod-about {
  margin: 25px 0 15px 0;
  font-size: 1.625rem;
}
.today-wrap .info-container p {
  line-height: 1.5;
  font-size: 1.2rem;
  color: rgb(218, 218, 218);
}
.today-wrap .info-container .apod-copyright span {
  font-weight: 700;
}
.today-wrap .info-container .apod-url {
  color: #c498ff;
  transition: all 0.3s linear;
}
.today-wrap .info-container .apod-url:hover {
  color: blueviolet;
}

.verify-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.verify-wrap .__inner-wrap {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 25px;
  padding: clamp(2rem, 6vw, 4rem) clamp(1rem, 6vw, 2rem);
}
.verify-wrap .__inner-wrap h1 {
  color: #c498ff;
  margin-bottom: 2rem;
}
.verify-wrap .__inner-wrap .current-user {
  color: #c498ff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: block;
}
.verify-wrap .__inner-wrap .current-user ~ p {
  margin-bottom: 2rem;
}
.verify-wrap .__inner-wrap .resend-email {
  background-color: #9a54b3;
  padding: 0.5rem clamp(2rem, 5vw, 4rem);
  border-radius: 25px;
  border: 2px solid #9a54b3;
  letter-spacing: 1px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s linear;
  box-shadow: 0 0 8px #9a54b3;
  display: block;
  margin: 0 auto;
  letter-spacing: 1.5px;
}
.verify-wrap .__inner-wrap .resend-email:hover {
  background-color: #c498ff;
  box-shadow: 0 0 20px #c498ff;
  border-color: #c498ff;
}
.verify-wrap .__inner-wrap .resend-email:active {
  background-color: white;
  color: #9a54b3;
}

@media screen and (min-width: 45rem) {
  .range-div .selection-div {
    padding-left: clamp(2rem, 6vw, 5rem);
    grid-template-areas: "header calend" "button calend";
  }
  .range-div .selection-div .selection-header {
    margin-right: auto;
    margin-bottom: 0rem;
    margin-top: auto;
    text-align: left;
  }
  .range-div .selection-div .date-div {
    margin-bottom: 0;
  }
  .range-div .selection-div .update-btn {
    margin-top: auto;
    margin-right: auto;
  }
  .range-div .jump-to-top-btn {
    height: 50px;
    width: 50px;
    bottom: 75px;
    right: 100px;
  }
  .single-div {
    padding: 3rem 1.5rem;
  }
  .single-div .upper-wrap {
    padding-left: clamp(1.5rem, 5vw, 3rem);
    grid-template-areas: "header calend" "button calend";
  }
  .single-div .upper-wrap .single-header {
    margin-right: auto;
    margin-bottom: 0rem;
    margin-top: auto;
    line-height: 1.5;
    text-align: left;
  }
  .single-div .upper-wrap .single-header h1 {
    margin-bottom: 0rem;
  }
  .single-div .upper-wrap .update-btn {
    margin-top: auto;
    margin-right: auto;
  }
  .single-div .single-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .single-div .single-container .__inner-wrap {
    width: 400px;
  }
  .single-div .single-nav {
    max-width: 400px;
    margin: 2rem auto 3rem auto;
  }
  .single-div .single-nav .change-day-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 1rem;
  }
  .single-div .single-nav .change-day-btn .single-nav-icon-left {
    margin-right: 0.5rem;
    transition: all 500ms ease-out;
  }
  .single-div .single-nav .change-day-btn .single-nav-icon-right {
    margin-left: 0.5rem;
    transition: all 500ms ease-out;
  }
  footer .footer-wrap p {
    text-align: left;
  }
}
@media screen and (min-width: 950px) {
  .main-header .header-wrap {
    height: 100px;
  }
  .main-header .header-wrap .mobile-nav-toggle {
    display: none;
  }
  .main-header .header-wrap .primary-navigation {
    align-items: center;
    position: relative;
    justify-content: flex-end;
    flex-direction: row;
    transform: translateX(0%);
    background-color: transparent;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    overflow: visible;
  }
  .main-header .header-wrap .primary-navigation .main-links {
    border-bottom: none;
    padding-bottom: 0;
    margin-right: auto;
  }
  .main-header .header-wrap .primary-navigation .account-links {
    padding-top: 0px;
  }
  .main-header .header-wrap .primary-navigation ul {
    flex-direction: row;
    font-size: 1.3rem;
  }
  .main-header .header-wrap .primary-navigation ul li {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .today-wrap h1 {
    font-size: 3rem;
  }
  .today-wrap .subhead-wrap .current-date {
    font-size: 1.2rem;
  }
  .today-wrap .desktop-info-container .apod-url {
    font-size: 1.2rem;
  }
  .modal-overlay .close-modal-btn {
    font-size: 2.5rem;
  }
  .modal-overlay .close-modal-btn:hover {
    transition: all 0.3s linear;
    color: #9a54b3;
  }
  .modal-overlay .close-modal-btn:active {
    color: white;
  }
  .homepage-wrap .home-title {
    font-size: 3rem;
  }
  .homepage-wrap p {
    font-size: 1.1rem;
  }
  .homepage-wrap .homepage-link {
    font-size: 1.2rem;
  }
  .single-div {
    padding: 3rem 1.5rem;
    max-width: 900px;
    margin: 0 auto;
  }
  .single-div .upper-wrap .single-header h1 {
    font-size: 2.5rem;
  }
  .single-div .upper-wrap .single-header p {
    font-size: 1.2rem;
  }
  .single-div .upper-wrap .update-btn {
    font-size: 1.2rem;
  }
  .single-div .single-container h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .single-div .single-container p {
    margin-bottom: 1rem;
  }
  .single-div .single-container .__inner-wrap {
    width: 600px;
  }
  .single-div .single-nav {
    max-width: 600px;
    margin-bottom: 3.5rem;
  }
  .single-div .single-nav .change-day-btn {
    font-size: 1rem;
  }
  .single-div .single-nav .change-day-btn .single-nav-icon-left {
    margin-right: 0.5rem;
    transition: all 500ms ease-out;
  }
  .single-div .single-nav .change-day-btn .single-nav-icon-right {
    margin-left: 0.5rem;
    transition: all 500ms ease-out;
  }
  .single-div .single-nav .change-day-btn:hover .single-nav-icon-left {
    transform: translateX(-0.5rem);
  }
  .single-div .single-nav .change-day-btn:hover .single-nav-icon-right {
    transform: translateX(0.5rem);
  }
  .range-div .ui-text {
    padding-left: 0px;
  }
  .main-range-content-div .info-div {
    display: block;
  }
  .main-range-content-div .images-cont {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
    flex: 1;
  }
  .main-range-content-div .images-cont .multi-img-container {
    width: 380px;
    position: relative;
  }
  .main-range-content-div .images-cont .multi-img-container:hover .img-container {
    position: relative;
  }
  .main-range-content-div .images-cont .multi-img-container:hover .img-container::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.8));
  }
  .main-range-content-div .images-cont .multi-img-container:hover .apod-bottom-container {
    opacity: 1;
  }
  .main-range-content-div .images-cont .multi-img-container .img-container .apod-info {
    display: none;
  }
  .main-range-content-div .images-cont .multi-img-container .apod-bottom-container {
    transition: all 0.3s linear;
    position: absolute;
    bottom: 10px;
    padding: 5px;
    width: 100%;
    opacity: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .main-range-content-div .images-cont .multi-apod-video {
    width: 380px;
    position: relative;
  }
  .main-range-content-div .images-cont .multi-apod-video:hover .apod-bottom-container {
    opacity: 1;
  }
  .main-range-content-div .images-cont .multi-apod-video .video-container {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    overflow-y: hidden;
  }
  .main-range-content-div .images-cont .multi-apod-video .video-container .apod-info {
    display: none;
  }
  .main-range-content-div .images-cont .multi-apod-video .apod-video {
    width: 100%;
    height: 100%;
  }
  .main-range-content-div .images-cont .multi-apod-video .apod-bottom-container {
    transition: all 0.3s linear;
    position: absolute;
    bottom: 10px;
    padding: 5px;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
  }
  .about-div h1 {
    text-align: left;
    font-size: 3rem;
  }
  .about-div h2 {
    font-size: 1.9rem;
  }
  .about-div p {
    font-size: 1.2rem;
  }
  .about-div p:last-of-type::after {
    width: 400px;
    margin-left: -200px;
    bottom: -18px;
  }
  .about-div a {
    font-size: 1.1rem;
  }
  footer .footer-wrap .footer-social-links li .footer-link {
    width: 2.8125rem;
    height: 2.8125rem;
  }
  footer .footer-wrap .footer-social-links li .footer-link .brand-icon {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1250px) {
  .range-div .info-div {
    margin-left: 20px;
  }
  .range-div .selection-div h1 {
    font-size: 2.5rem;
  }
  .range-div .selection-div p:not(.footer-styles) {
    font-size: 1.2rem;
  }
  .range-div .selection-div .footer-styles {
    font-size: 1.1rem;
  }
  .range-div .selection-div .update-btn {
    font-size: 1.2rem;
  }
  .main-range-content-div .images-cont .multi-img-container {
    width: 400px;
  }
  .main-range-content-div .images-cont .multi-apod-video {
    width: 400px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: auto;
}

html,
body {
  background: rgb(0, 2, 18);
  color: white;
  height: 100%;
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
a:focus {
  border-color: #c498ff;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: "Overpass", sans-serif;
}

img {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#root .main-section {
  flex: 1 0 auto;
  display: flex;
}

.main-wrap {
  flex: 1 0;
  margin: 0 auto;
  display: flex;
  width: 100%;
}/*# sourceMappingURL=main.css.map */