.about-div {
  max-width: 700px;
  padding: 10px 10px 30px 10px;
  margin: 0 auto;

  h1 {
    margin-bottom: 20px;
    span {
      color: $primary-purple;
    }
  }

  .about-img {
    width: 300px;
    aspect-ratio: 1;
    display: block;
    margin: 0 auto;
  }

  p {
    line-height: 1.3;
    margin-bottom: 10px;
  }

  p:last-of-type {
    position: relative;
    margin-bottom: 20px;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 200px;
      background: white;
      bottom: -12px;
      left: 50%;
      margin-left: -100px;
      // transform: translateX(50%);
    }
  }

  .useful-links-cont {
    padding: 10px 0;

    h2 {
      margin-bottom: 15px;
    }

    .useful-links {
      li {
        margin-bottom: 10px;
        .useful-link {
          color: $primary-purple;
          @include slow-transition;

          &:hover {
            color: $secondary-purple;
          }

          &:active {
            color: white;
          }
        }
      }
    }
  }
}
