.today-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  overflow-y: hidden;
  padding: 20px 5px;
  max-width: 900px;
  margin: 0 auto;

  .current-date {
    margin-bottom: 10px;
  }
  .info-btn {
    margin: 10px 0;
    @include button-styles;
  }

  h1 {
    text-align: center;
    margin-bottom: 15px;
  }

  .info-container {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    position: absolute;
    padding: 10px;
    left: 0px;
    height: 100%;
    width: 100%;
    bottom: -100%;
    @include slow-transition;

    &.open {
      bottom: 0;
      @include slow-transition;
    }

    p {
      margin-bottom: 10px;
      line-height: 1.5;
    }

    .apod-title-for-info {
      text-align: center;
      margin-bottom: 10px;
    }

    .apod-copyright {
      margin: 5px 0;

      span {
        font-weight: 700;
      }
    }

    .apod-url {
      color: $primary-purple;
      @include slow-transition;

      &:hover {
        color: $secondary-purple;
      }
    }

    .close-info-btn {
      display: block;
      margin: 10px auto 0 auto;
      @include button-styles;
    }
  }

  .desktop-info-container {
    padding-bottom: 30px;
    display: none;

    .apod-about {
      margin: 25px 0 15px 0;
      font-size: 26px;
    }

    p {
      margin-bottom: 10px;
      line-height: 1.5;
      font-size: 1.2rem;
    }

    .apod-copyright {
      margin: 5px 0;

      span {
        font-weight: 700;
      }
    }

    .apod-url {
      color: $primary-purple;
      @include slow-transition;

      &:hover {
        color: $secondary-purple;
      }
    }
  }
}
