@media screen and (max-width: 600px) {
  header .header-wrap nav {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 601px) {
  header .header-wrap {
    height: 100px;
  }
  header .header-wrap .mobile-nav-toggle {
    display: none;
  }
  header .header-wrap nav {
    align-items: center;
    padding-left: 0;
    transform: translateX(0%);
  }
  header .header-wrap nav:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  header .header-wrap nav ul {
    flex-direction: row;
  }
  header .header-wrap nav ul li {
    margin-right: 15px;
    margin-bottom: 0;
  }
  header .header-wrap nav ul:after {
    position: absolute;
    content: "";
    background: white;
    width: 40%;
    height: 2px;
    left: 0%;
    top: 50%;
    transition: all 0.3s linear;
  }

  .apod-img {
    width: 400px;
  }

  .apod-video {
    width: 400px;
  }

  .range-div .jump-to-top-btn {
    height: 50px;
    width: 50px;
    bottom: 100px;
    right: 150px;
  }
}
@media screen and (min-width: 950px) {
  header .header-wrap nav ul:after {
    width: 70%;
    left: -20%;
  }

  .today-wrap h1 {
    font-size: 2.5rem;
  }
  .today-wrap .current-date {
    font-size: 1.2rem;
  }
  .today-wrap .desktop-info-container .apod-url {
    font-size: 1.2rem;
  }

  .modal-overlay .close-modal-btn {
    right: -80px;
  }
  .modal-overlay .close-modal-btn:hover {
    transition: all 0.3s linear;
    color: #9a54b3;
  }
  .modal-overlay .close-modal-btn:active {
    color: white;
  }

  .apod-img {
    width: 600px;
  }

  .apod-video {
    width: 600px;
  }

  .homepage-wrap .home-title {
    font-size: 3rem;
  }
  .homepage-wrap p {
    font-size: 1.1rem;
  }
  .homepage-wrap .homepage-link {
    font-size: 1.2rem;
  }

  .today-wrap .info-container {
    display: none;
  }
  .today-wrap .info-btn {
    display: none;
  }
  .today-wrap .desktop-info-container {
    display: block;
  }

  .range-div {
    padding-top: 20px;
  }
  .range-div .ui-text {
    padding-left: 0px;
  }
  .range-div .selection-div {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }
  .range-div .selection-div h1 {
    text-align: left;
    flex: 1;
  }
  .range-div .selection-div .date-div {
    flex: 2;
  }
  .range-div .selection-div .date-div form {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }
  .range-div .selection-div .date-div form label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 5px;
  }
  .range-div .selection-div .date-div form input {
    font-size: 1rem;
  }
  .range-div .selection-div .date-div form button {
    font-size: 0.9rem;
    padding: 1.5rem 1.5rem;
  }
  .range-div .main-range-content-div .info-div {
    display: block;
  }
  .range-div .main-range-content-div .images-cont {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
    flex: 1;
  }
  .range-div .main-range-content-div .images-cont .multi-img-container {
    width: 380px;
    position: relative;
  }
  .range-div .main-range-content-div .images-cont .multi-img-container:hover .img-container {
    position: relative;
  }
  .range-div .main-range-content-div .images-cont .multi-img-container:hover .img-container::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.8));
  }
  .range-div .main-range-content-div .images-cont .multi-img-container:hover .apod-bottom-container {
    opacity: 1;
  }
  .range-div .main-range-content-div .images-cont .multi-img-container .img-container .apod-info {
    display: none;
  }
  .range-div .main-range-content-div .images-cont .multi-img-container .apod-bottom-container {
    transition: all 0.3s linear;
    position: absolute;
    bottom: 10px;
    padding: 5px;
    width: 100%;
    opacity: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .range-div .main-range-content-div .images-cont .multi-apod-video {
    width: 380px;
    position: relative;
  }
  .range-div .main-range-content-div .images-cont .multi-apod-video .video-container {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    overflow-y: hidden;
  }
  .range-div .main-range-content-div .images-cont .multi-apod-video .video-container .apod-info {
    display: none;
  }
  .range-div .main-range-content-div .images-cont .multi-apod-video .apod-video {
    width: 100%;
    height: 100%;
  }
  .range-div .main-range-content-div .images-cont .multi-apod-video .apod-bottom-container {
    transition: all 0.3s linear;
    position: absolute;
    bottom: -30px;
    padding: 5px;
    width: 100%;
    z-index: 1;
  }

  .about-div h1 {
    font-size: 3rem;
  }
  .about-div h2 {
    font-size: 1.9rem;
  }
  .about-div .about-img {
    width: 325px;
  }
  .about-div p {
    font-size: 1.2rem;
  }
  .about-div p:last-of-type::after {
    width: 400px;
    margin-left: -200px;
    bottom: -18px;
  }
  .about-div a {
    font-size: 1.1rem;
  }

  footer .footer-wrap .footer-social-links li .footer-link {
    width: 45px;
    height: 45px;
  }
  footer .footer-wrap .footer-social-links li .footer-link .fab {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1250px) {
  .range-div .main-range-content-div .images-cont .multi-img-container {
    width: 400px;
  }
  .range-div .main-range-content-div .images-cont .multi-apod-video {
    width: 400px;
  }
  .range-div .info-div {
    margin-left: 20px;
  }
}/*# sourceMappingURL=responsive.css.map */