@use "_config.scss";

.favorite-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(208, 214, 224, 0.5);
  border-radius: 8px;
  background-color: transparent;
  color: white;
  // transition: background-color 800ms ease-in-out;

  &.favorited {
    background-color: config.$tertiary-bg;
    border-color: config.$border-bottoms;
    .heart {
      fill: red;
    }
  }

  &.heartbeat {
    .heart {
      animation: heartbeat 600ms 1;
    }
  }

  .heart {
    stroke: red;
    stroke-width: 1.5px;
    fill: transparent;
    height: auto;
    width: 1.2rem;
    overflow: visible; // flex will clip the edges otherwise
    margin-right: 0.6rem;

    &:hover {
      cursor: pointer;
    }
  }

}

@keyframes heartbeat {
  0% {
    scale: 1;
  }

  33% {
    scale: 0.5;
  }

  66% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}