@use "_config.scss";

.single-div {
  width: 100%;

  .upper-wrap {    
    padding-bottom: 4rem;
    padding-top: 3rem;
    padding-inline: 1rem;
    border-bottom: 1px solid config.$border-bottoms;
    @include config.radial-bg;

    .inner-upper-wrap {
      display: grid;
      grid-template-areas:
        "header"
        "calend"
        "button";
      justify-items: center;
      max-width: 900px;
      margin: 0 auto;

      .single-header {
        grid-area: header;
        padding-block: 2.5rem;
        text-align: center;
    
        h1 {
          color: config.$primary-purple;
          margin-bottom: 0.5rem;
        }
      }
    
      .single-form-wrap {
        grid-area: calend;
        
    
        .start-container {
          margin-bottom: 3rem;
        }
      }
  
      .update-btn {
        grid-area: button;
        margin-top: 2rem;
        @include config.button-styles;
      }
    }

  }


  .ui-text {
    margin-block: 1.5rem;
    min-height: 1.5rem;
    max-width: 100%;

    .error-text {
      padding: 5px;
      color: black;
      border: 1px solid red;
      background-color: rgb(202, 121, 121);
    }
  }

  .single-container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      color: config.$primary-purple;
      margin-bottom: clamp(1.5rem, 6.5vw, 3rem);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
    }

    .__inner-wrap {
      margin: 0 auto;
      width: 100%;
      
      padding-inline: 1rem;

      // formerly width of 300px
      // noting in case of future redicisions
      // width 100% causes buttons to jump due to image resizing... but image quality MUCH better!!
      .inner-single-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 1rem;        
      }

      .__lower-container {
        display: flex;
        align-items: center;
        margin: 2rem auto 3rem 0;
        justify-content: flex-end;

        p {
          margin-bottom: 0;
          margin-right: clamp(1rem, 3.5vw, 2rem);
          font-weight: bold;
        }

        .calendar-container {
          margin-right: clamp(2rem, 6vw, 4rem);

          .__btn {
            padding: 0.6rem;
            background-color: transparent;
            border: transparent;
            color: white;
            font-size: 1rem;
          }

          section {

            .__inner-calendar {
              border: 1px solid config.$border-color;
              padding-block: 1.5rem;
              border-radius: 0.5rem;
  
              .upper-modal-container {
                padding-inline: 2rem;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
  
                h3 {
                  text-align: left;
                }
  
                .close-modal {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 0.5rem;
                  color: white;
                  font-size: 1.2rem;
                  background-color: transparent;
                  border: transparent;
                }
  
              }
  
  
              // mobile styles
              &.mobile {
                display: block;
                position: fixed;
                z-index: 2500;
                top: 2rem;
                left: 50%;
                width: 100%;
                max-width: 800px;
                background-color: config.$background-color;
                transform: translate(-50%, 300%);
                transition: transform 300ms ease-in-out;
  
                &.open {
                  transform: translate(-50%, 0);
                }
              }

              // desktop styles
              &.desktop {
                display: none;
                position: absolute;
                bottom: 0;
                right: 0;
                background: config.$background-color;
                box-shadow: 0 0 8px rgba(190, 190, 190, 0.8);
              }
  
              .picker-container {
                display: flex;
                justify-content: center;
              }
            }
          }
          

          .lower-mobile-container {
            margin-top: 1rem;
            border-top: 1px solid config.$border-bottoms;

            .update-btn {
              margin-top: 2rem;
              @include config.button-styles;
            }
          }

          .mobile-calendar-overlay {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2000;
            background-color: rgba(34, 34, 34, 0.3);
            backdrop-filter: blur(10px);
            height: 100vh;
            width: 100%;
            opacity: 0;
            pointer-events: none;
            transition: opacity 500ms ease-in-out;

            &.open {
              opacity: 1;
              pointer-events: all;
            }
          }

        }

        .single-nav {
          display: flex;
          align-items: center;
          gap: clamp(1rem, 6.5vw, 2rem);
      
          .change-day-btn {
            transition: background-color 300ms ease-in-out;
            background-color: transparent;
            border: 1px solid config.$border-color;
            color: white;
            border-radius: 50%;
            font-size: 1rem;
            font-weight: 700;
            display: flex;
            justify-content: center;
            padding: 0.8rem;
      
            .single-nav-icon {
              transition: transform 300ms ease-out, color 300ms ease-in-out;
            }
      
            &:hover {
              background-color: darken(config.$border-color, 20%);
              .single-nav-icon {
                color: black;
              }
              .single-nav-icon.left {
                transform: translateX(-0.3rem);
                transition: transform 500ms ease-out;
              }
              
              .single-nav-icon.right {
                transform: translateX(0.3rem);
                transition: transform 500ms ease-out;
              }
            }
          }
        }
      }
    }


  
    .info-container {
      padding-bottom: 2.5rem;
      padding-inline: 1rem;
      width: 100%;
      max-width: 85ch;
      text-align: left;

      h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        color: config.$secondary-purple;
      }

      & *:not(:first-child) {
        margin-bottom: 1rem;
      }
    
      .apod-about {
        margin: 25px 0 15px 0;
        font-size: 1.625rem;
      }
    
      p {
        line-height: 1.5;
        font-size: 1.2rem;
        color: config.$light-white;
      }
    
      .apod-copyright {
    
        span {
          font-weight: 700;
        }
      }
    
      .apod-url {
        color: config.$primary-purple;
        @include config.slow-transition;
    
        &:hover {
          color: config.$active-link;
        }
      }
    }
  }

}