@import "config.scss";
@import "header.scss";
@import "about.scss";
@import "homepage.scss";
@import "today.scss";
@import "apodrange.scss";
@import "modal.scss";
@import "nasaobj.scss";
@import "footer.scss";
@import "responsive.scss";
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Overpass:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: auto;
}

html,
body {
  background: $background-color;
  color: white;
  height: 100%;
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;

  &:focus {
    border-color: $primary-purple;
  }
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .main-section {
    flex: 1 0 auto;
    display: flex;
  }
}

.main-wrap {
  flex: 1 0;
  margin: 0 auto;
  display: flex;
  width: 100%;
}
